.navbar {
  height: 6rem;
  text-align: center;
}
.navbar h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.navbar div {
  color: #fff;
  border-top: 0.1rem solid rgb(36 36 36);
  width: 90%;
  margin: 0 auto;
}
